/* Generics*/

header {
    width: 1200px;
    height: 200px;
    margin: auto;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    background-size: 40% 163%; 
}



figure{
    width: 25%;
    position: relative;
    top: 33%;
    margin-inline-start: 0px;
}

