
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics*/

address{
    font-style: normal;
}


a{
    text-decoration: none;
    color: rgb(66,180,231);
}

/* HEADER */

header {
    height: 150px;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    background-size: 30% 160%; 
}


#logo{
    width: 200px;
    line-height: 200px;
}


/* TITLE */
.pics {
    display: inline-block;
    margin-top: 30px;
}


/* ARTICLE */

ul{
    list-style-type: none;
}

/* TABLE */

h1{
    font-size: 271%;
    margin-bottom: 0px;
}


#title-pics{
    margin-left: 18%;
    width: 64%;
}


.info,#author{
    font-size: 146%;
}


.pics-caption{
    font-size: 88%;
    
}

.paragraph{
    margin-left: 18%;
    width: 62%;
    font-size: 112%;
} 


p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}


#central-table{
    margin-left: 18%;
    margin-right: 20%;
    font-size: 112%;
    margin-bottom: 1%;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}



#first-column,#second-column{
    width: 30%;
}
 


tbody{
    background-color: #b1e5f2;
}
 

#central-row{
    background-color: white;
}


footer{
    margin-left: 18%;
    width: 62%;
}


h4{
    color: hsl(224, 6.6%, 55.1%);
    font-size: 126%;
}


#footer-pics-1{
    color: white;
    font-size: 138%;
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    padding-bottom: 16%;
}


#footer-pics-2{
    color: white;
    font-size: 138%;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    padding-bottom: 50%;
    margin-top: 2%;
}


/* UTILITIES */
.container{
    width: 1080px;
    margin: 0 auto;
}